/* FLEXBOX for GRID */
/* .boardRow {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
}

.boardColumn {
    border: 2px solid red;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
} */
/* * {
    box-sizing: border-box;
} */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-family: cursive;
}

#main {
    background-color: goldenrod;
    border: solid 5px black;
    /* padding: ; */
    width: 39%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
    
}

.row {
    background-image: url("https://img.freepik.com/free-photo/texture-poster-drawing-canvas-creative_1194-8218.jpg?w=740&t=st=1675959022~exp=1675959622~hmac=f569629b330bc423ef22217771678c981939573fa19fa2926e9261c9d6b895f6forcejpeg=true"); /* X Image */
    background-image: url("https://img.freepik.com/free-photo/spray-paint_1194-2409.jpg?w=740&t=st=1675960076~exp=1675960676~hmac=b403e799a70bccf3bd14af5a2ed5fe64d105dff6f2ba4d4c3551fe4dbd4e0983"); /* O image */
    background-size: 95% auto;
    width: 100px;
    height: 90px;
    border: 3px solid black;
    margin: 1%;
    padding: 2%;
}

#mainHeader {
    /* display: block; */
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 50px;
    padding: 1% 2%;
}

