/* FLEXBOX for GRID */
/* .boardRow {
    border: 2px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
}

.boardColumn {
    border: 2px solid red;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
} */

#main {
    display: flex;
    flex-direction: column;
}

.column {
    border: 2px solid black;
    width: 33%;
    height: 33%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 33%;
}
